<div class="module gforms">
   <div ng-controller="gformsController">  
      <g-form id=gforms.modulescope.formId height=gforms.modulescope.height width=gforms.modulescope.width></g-form>
   </div>
</div>